/* Global styles to prevent horizontal scrolling */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Hero Section */
.hero-section {
    background: linear-gradient(to bottom, #6e8efb, #ff79d3);
    padding: 80px 0;
    text-align: center;
    color: white;
    width: 100%;
    height: 50vh; /* Adjust height as necessary */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    box-sizing: border-box;
    margin: 0;
}

.hero-title {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    color: white;
}

.hero-subtitle {
    font-size: 1.5rem;
    color: white;
    margin-top: 10px;
}

.hero-link {
    text-decoration: none;
    color: white;
}


/* Courses Section */
.courses-section {
    padding: 40px 0;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
}

/* Courses Grid */
.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.course-card {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.course-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.course-image {
    width: 100%; /* Ensures the image takes the full width of the container */
    height: 150px; /* Set a fixed height to ensure uniformity */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 8px; 
}

.course-content {
    padding: 20px;
    text-align: center; /* Align buttons at the center */
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Space between buttons */
}

.course-button {
    padding: 10px 20px;
    background-color: #6e8efb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color 0.3s ease;
    flex: 1; /* Make all buttons take equal space */
}

.course-button:hover {
    background-color: #5569dc;
}

/* Not Found Section */
.not-found {
    text-align: center;
    color: red;
    font-size: 1.5rem;
    margin-top: 20px;
}
